.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.no_scroll{
    overflow: hidden;
}

@media (mac-width: 1200px){
    .app{
        margin: 0 auto;
    }
}